openapi: 3.0.0
info:
  version: 1.0.0
  title: API Integration
  description: Manual API, Tokenization API and Recurring API integration
  
servers:
  - url: 'https://sandbox.senangpay.my'

tags:
  - name: Manual API
    description: Payment integration
  - name: Tokenization API
    description: Token ID for CC details
  - name: Recurring API
    description: Recurring payment - installment or subscription

paths:
  /payment/{merchantID}:                  
    post:
      tags:
        - Manual API
      summary: Initiate a new payment with SenangPay
      description: This endpoint creates a payment request to SenangPay with the required details.
      operationId: addPayment
      parameters:
        - name: merchantID
          in: path
          description: ID merchant to return
          required: true
          schema:
            type: integer
            format: int64
            example: 14222653788472
        - name: SecretKey
          in: path
          required: true
          description: The secure hash is generated by using HMAC hashing algorithm with SHA256 or md5
          schema:
            type: string
            example: 53-784

      requestBody:
        required: true
        content: 
          application/x-www-form-urlencoded:
            schema:
             $ref: '#/components/schemas/PaymentForm'

      responses:
        "302":
          description: Redirects to SenangPay's payment page.
          headers:
            Location:
              description: SenangPay's payment page URL where the user is redirected.
              schema:
                type: string
                example: "https://sandbox.senangpay.my/payment/..."

  /payment/return:
    get:
      tags:
        - Manual API
      summary: Handle return from SenangPay
      description: This endpoint handles the return from SenangPay after a payment attempt. It includes payment details such as the transaction ID and payment status.
      parameters:
        - in: query
          name: status_id
          schema:
            type: string
          description: Status of the payment (1 for success, 0 for failure)
        - in: query
          name: order_id
          schema:
            type: string
          description: Unique identifier for the order
        - in: query
          name: transaction_id
          schema:
            type: string
          description: Unique identifier for the transaction
      responses:
        "200":
          description: Return page successfully loaded
          content:
            text/html:
              schema:
                type: string
                example: "<html><body><h1>Payment Successful</h1></body></html>"
 
  /payment/callback:
    post:
      tags:
        - Manual API
      summary: Handle callback from SenangPay
      description: This endpoint receives callbacks from SenangPay with the payment result.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status_id:
                  type: string
                  description: Status of the payment (1 for success, 0 for failure)
                  example: "1"
                order_id:
                  type: string
                  description: Unique identifier for the order
                  example: "ORD12345"
                transaction_id:
                  type: string
                  description: Unique identifier for the transaction
                  example: "TX123456789"
                msg:
                  type: string
                  description: Message related to the payment result
                  example: "Payment successful"
      responses:
        "200":
          description: Callback received successfully
        "400":
          description: Bad request (invalid or missing parameters)

  /tokenization/return:
    get:
      tags:
        - Tokenization API
      summary: Handle return from SenangPay (3D Token)
      description: This endpoint handles the return from SenangPay after a payment has been processed. It includes payment details such as the transaction ID and payment status.
      parameters:
        - in: query
          name: status_id
          schema:
            type: string
          description: Status of the payment (1 for success, 0 for failure)
        - in: query
          name: order_id
          schema:
            type: string
          description: Unique identifier for the order
        - in: query
          name: token
          schema:
            type: string
          description: Card validation.The token will be used for future payments made on the card. If card validation fails, token value will be 0
        - in: query
          name: cc_num
          schema:
            type: string
          description: The last four digits of the card. If card validation fails, cc_num value will be 0000
        - in: query
          name: cc_type
          schema:
            type: string
          description: When card validation fails, the value is xx
        - in: query
          name: msg
          schema:
            type: string
          description: Card validation status message
      responses:
        "200":
          description: Return page successfully loaded
          content:
            text/html:
              schema:
                type: string
                example: "<html><body><h1>Card validate</h1></body></html>"
 
  /tokenization/callback:
    post:
      tags:
        - Tokenization API
      summary: Handle callback from SenangPay (3D Token)
      description: This endpoint receives callbacks from SenangPay with the payment result.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status_id:
                  type: string
                  description: Status of the payment (1 for success, 0 for failure)
                  example: "1"
                order_id:
                  type: string
                  description: Unique identifier for the order
                  example: "ORD12345"
                token:
                  type: string
                  description: Card validation.The token will be used for future payments made on the card. If card validation fails, token value will be 0
                  example: "758TX123456KUBG789"
                cc_num:
                  type: string
                  description: The last four digits of the card. If card validation fails, cc_num value will be 0000
                  example: "XXXXXXXXXXXX1145"
                cc_type:
                  type: string
                  description: When card validation fails, the value is xx
                  example: "VISA"
                msg:
                  type: string
                  description: Message related to the payment result
                  example: "Card validate"
      responses:
        "200":
          description: OK
        "400":
          description: Bad request (invalid or missing parameters)

  /apiv1/pay_cc:                
    post:
      tags:
        - Tokenization API
      summary: Pay credit card using token
      description: Pay credit card using token
      operationId: getCCDetail

      parameters:
        - name: merchantID
          in: path
          description: ID merchant to return
          required: true
          schema:
            type: integer
            format: int64
            example: 14222653788472

      requestBody:
        required: true
        content: 
          application/x-www-form-urlencoded:
            schema:
             $ref: '#/components/schemas/Token'

      responses:
        "302":
          description: Redirects to SenangPay's payment page.
          headers:
            Location:
              description: SenangPay's payment page URL where the user is redirected.
              schema:
                type: string
                example: "https://sandbox.senangpay.my/apiv1/pay_cc/..."
      
  /apiv1/pay_cc/return:
    get:
      tags:
        - Tokenization API
      summary: Handle return from SenangPay
      description: This endpoint handles the return from SenangPay after a payment has been processed. It includes payment details such as the transaction ID and payment status.
      parameters:
        - in: query
          name: status
          schema:
            type: string
          description: Status of the payment (1 for success, 0 for failure)
        - in: query
          name: transaction_id
          schema:
            type: string
          description: Unique identifier for the transaction
        - in: query
          name: order_id
          schema:
            type: string
          description: Unique identifier for the order
        - in: query
          name: amount_paid
          schema:
            type: integer
          description: Amount transacted from credit card
        - in: query
          name: msg
          schema:
            type: string
          description: Transaction status message
      responses:
        "200":
          description: Return page successfully loaded
          content:
            text/html:
              schema:
                type: string
                example: "<html><body><h1>Payment was successful</h1></body></html>"

  /apiv1/pay_cc/callback:
    post:
      tags:
        - Tokenization API
      summary: Handle callback from SenangPay
      description: This endpoint receives callbacks from SenangPay with the payment result.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: Status of the payment (1 for success, 0 for failure)
                  example: "1"
                transaction_id:
                  type: string
                  description: Unique identifier for the transaction
                  example: "TX123456789"
                order_id:
                  type: string
                  description: Unique identifier for the order
                  example: "ORD12345"
                amount_paid:
                  type: integer
                  description: Amount transacted from credit card
                  example: "1000"
                msg:
                  type: string
                  description: Message related to the payment result
                  example: "Payment successful"
      responses:
        "200":
          description: Callback received successfully
        "400":
          description: Bad request (invalid or missing parameters)

  /apiv1/update_token_status:
    get:
      tags:
        - Tokenization API
      summary: Finds merchant CC by status
      description: Multiple status values can be provided with comma separated strings
      security:
        - BasicAuth: []
      operationId: findCCByStatus
      parameters:
        - name: status
          in: query
          description: Status values that need to be considered for filter
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - enable
                - disable
              default: enable
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CC'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CC'
        401:
          $ref: '#/components/responses/UnauthorizedError'  
          
  /recurring/payment/{merchantID}:
    post:
      tags:
        - Recurring API
      summary: Unique ID identifies recurring product
      operationId: getId
      parameters:
        - name: merchantID
          in: path
          description: ID merchant to return
          required: true
          schema:
            type: integer
            format: int64
            example: 14222653788472
        - name: SecretKey
          in: path
          required: true
          description: The secure hash is generated by using HMAC hashing algorithm with SHA256 or md5
          schema:
            type: string
            example: 53-784

      requestBody:
        required: true
        content: 
          application/jason:
            schema:
              $ref: '#/components/schemas/Recurring'
      
      responses:
        200:
          description: Successful pull payment information
          content:
            application/jason:
              schema:
                type: array
                items:
                 $ref: '#/components/schemas/Cart'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cart'  
        400:
          description: Invalid ID supplied
        404:
          description: Merchant not found          
                    
components:
  schemas:

    Payment:
      description: Model containing payment info
      properties:
          detail:
            type: string
            example: Shopping cart id 30    
          amount:
            type: integer
            example: 25.50   
          order id:
            type: string
            example: 3432D4     
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeedff7728f      
          name:
            type: string
            example: Amir      
          email:
            type: string
            example: amir@email.cm       
          phone:
            type: integer
            example: 0123456789 
          timeout:
            type: integer
            example: 450

    PaymentForm:
      description: Payment form
      properties:
        detail:
          type: string
          example: Shopping cart id 30   
        amount:
          type: number
          example: 25.50  
        order id:
          type: string
          description: Unique identifier for the order
          example: "ORD12345"  
        hash:
          type: string
          example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeed    
        name:
          type: string
          example: Amir     
        email:
          type: string
          example: amir@email.com  
        phone:
          type: string
          example: 0123456789
        return_url:
          type: string
          description: URL to which the user is redirected after payment
          example: "https://merchantwebsite.com/payment/return"
        callback_url:
          type: string
          description: URL to which SenangPay will send the payment status
          example: "https://merchantwebsite.com/payment/callback"
      required:
        - amount
        - order id
        - name
        - email
        - phone
        - return_url
        - callback_url

    Cart:
      description: Array of shopping cart info
      properties:
          status id:
            type: integer
            example: 1 
          order id:
            type: integer
            description: Unique identifier for the order
            example: "ORD12345" 
          msg:
            type: string
            example: Payment was successful  
          transaction id:
            type: integer
            description: Unique identifier for the transaction
            example: "TX123456789"
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeedff7728f

    TokenForm:
      description: Token request form
      properties:
          order id:
            type: string
            example: 3432D4
          name:
            type: string
            example: Abu Bin Ali    
          email:
            type: string
            example: ahmad@google.com   
          phone:
            type: integer
            example: 0123456789
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d9480

    Token:
      description: Token response status
      properties:
          name:
            type: string
            example: Abu Bin Ali    
          email:
            type: string
            example: ahmad@google.com    
          detail:
            type: string
            example: Order for product id 4    
          phone:
            type: integer
            example: 0123456789   
          order id:
            type: string
            example: 3432D4     
          amount:
            type: integer
            example: 25.50       
          token:
            type: string
            example: D12820HJ  
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeedff7728f
          return_url:
            type: string
            description: URL to which the user is redirected after payment
            example: "https://merchantwebsite.com/apiv1/pay_cc/return"
          callback_url:
            type: string
            description: URL to which SenangPay will send the payment status
            example: "https://merchantwebsite.com/apiv1/pay_cc/callback"
  
    TokenStatus:
      description: Model containing cc payment info
      properties:
          status:
            type: integer
            format: int64
            example: 1
          transaction id:
            type: string
            example: WSJ30000097DO   
          order id:
            type: string
            example: 3432D5   
          amount paid:
            type: integer
            example: 200   
          msg:
            type: string
            example: Payment was successful    
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeedff7728f
          
    CC:
      type: object
      properties:
        status:
          type: integer
          description: Status of the payment (1 for success, 0 for failure)
          example: 1
        msg:
          type: string
          example: Card has been successfully verified
        token:
          type: string
          example: D12376KL

    Recurring:
      description: Array of shopping cart info
      properties:
          order id:
            type: integer
            example: 45  
          recurring id:
            type: integer
            example: 123  
          hash:
            type: string
            example: a8167dd09f01ebed0b18e67b2cc2424a0d058ccc83d94803482ecdeedff7728f
          name:
            type: string
            example: Abu Bin Ali
          email:
            type: string
            example: ahmad@google.com
          phone:
            type: integer
            example: 0123456789

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: code_error1
            message:
              type: string
              example: error message
            type:
              type: string
              example: type of error

  requestBodies:
    Payment:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Payment'
        application/xml:
          schema:
            $ref: '#/components/schemas/Payment'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/PaymentForm'
      description: Payment add to
      required: true
          
  responses:
    UnauthorizedError:
      description: Authentication information is missing or invalid
      headers:
        WWW_Authenticate:
          schema:
            type: string
            
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      
security:
  - BasicAuth: []